<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Page</title>
    <script src="/public/timeline.js"></script>
</head>
<body>
    <div>Acounts info</div>
    <h2>History!<button onclick="clearEvents()">clear all</button></h2>
    <div id="events"></div>
    <div id="accountdeets">
        <button id="logout" onclick="logout()">Logout</button>
    </div>
    <h3>Your shopping cart</h3>
    <div id="cart"></div>
</body>
<script>

</script>
</html>