<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poke Poke</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        body,
        html {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        form {
            display: flex;
            flex-direction: column;
        }
    </style>
</head>

<body>
    <div>Create an account</div>
    <main>
        <form id="signup-form">
            <div id="username-field">
                <input type="text" placeholder="Username" id="username-text-field">
            </div>
            <div id="password-field">
                <input type="password" placeholder="Password" id="password-text-field">
            </div>
            <div id="name-field">
                <input type="text" placeholder="Name" id="name-text-field">
            </div>
            <input type="button" id="signup-button" value="Sign Up">
        </form>
    </main>
</body>

</html>